body
{
  background-color: #e1f2fb;
}

hr {
  border-top-style: dotted;
  border-top-width: 5px;
  width: 30px;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top-color:#6e5773;
}

h1 {
  color: #6a8caf;
}

h3 {color: #75b79e}


}
